@import "_header";
body {
	font-size: 20 px;
}

body div {
	font-size: 25 px;
}

.testDiv {
	border: 1px solid rgb(45, 161, 139);
	padding: 20px;
	width: 400px;
	margin-top: 20px;

	display: none;
}

.test {
	display: block !important;
}
p{
	color: red;
}


.testDiv {
}
.class1 {
}
.class1__ {
}